@font-face {
    font-family: 'gothic-normal';
    src: url("fonts/CenturyGothic/CenturyGothic-normal.ttf") format("truetype"),
}
@font-face {
    font-family: 'capitalist';
    src: url("fonts/CapitalisTypOasis.ttf") format("truetype");
}


@font-face{
    font-family: 'gothic-bold';
    src: url("fonts/CenturyGothic/CenturyGothic-bold.TTF") format("truetype");
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    font-size: inherit;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'gothic-normal', sans-serif;
    font-weight: 100;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}



.frase-efeito{
    font-family: 'capitalist'
}

.oab-n {
    font-family: 'Times New Roman', Times, serif
}