@font-face {
    font-family: 'gothic-normal';
    src: url("fonts/CenturyGothic/CenturyGothic-normal.ttf") format("truetype"),
}
@font-face {
    font-family: 'capitalist';
    src: url("fonts/CapitalisTypOasis.ttf") format("truetype");
}


@font-face{
    font-family: 'gothic-bold';
    src: url("fonts/CenturyGothic/CenturyGothic-bold.TTF") format("truetype");
}

:root{
    --verde-escuro: #1C342C;
    --verde-escuro-transparente: rgba(28, 52, 44, 0.5);
    --verde-escuro-pouco-transparente: rgba(28,52,44,0.8);
    --verde-bosta: #6B796A;
    --verde-claro: #D1E0DE;
    --verde-claro-transparente: rgba(209, 224, 222, 0.5);
    --amarelo-claro: #F1ECE2;
    --amarelo-claro-transparente: rgba(241, 236, 226, 0.5);
}

.header {
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100vw;
    height: auto;
    background-color: var(--verde-escuro);
}

#logoHeader{
    height: 7vw;
    width: auto;
}

.btn-hover {
    font-size: 1.5vw;
    color: var(--verde-bosta);
    background-color: var(--amarelo-claro);
    padding: 1.1vw 1vw;
    border-radius: 1vw;
    transition: transform 0.5s ease-in-out;
    border: none;
    cursor: pointer;
}


.btn-hover:hover{
    transform: scale(1.1);
}

.subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--verde-bosta);
    background-color: var(--verde-claro);
    padding: 1.3vw 2vw;
    min-height: 50px;

}

.subheader .welcome-message{
    font-size: 1.5vw;

}

.subheader ul{
    display: flex;
    gap: 20px;
}

.subheader ul li{
    font-size: 1.5vw;
}

.content{
    display: flex;
    flex-direction: column;
}

.conteiner-deusa{
    display: flex;
    flex-direction: column;
    background-image: url(models/images/deusa.jpg);
    background-size: cover;
    background-blend-mode: color-dodge;
    background-color: rgba(28,52,44,0.7);
}

.conteiner-frase-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 150px 150px;
}

.frase-efeito{
    font-size: 2vw;
    max-width: 350px;
    text-align: center;
    line-height: 170%;
    letter-spacing: 10%;
    color: var(--amarelo-claro);
}
.conteiner-deusa button{
    width: fit-content;
    height: auto;
    font-size: 14px;
}


.areas{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    background-color: var(--verde-claro);
    padding: 45px 0;
}

.conteiner-area{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    flex: 0 0 25%;
}


.conteiner-area img {
    height: 70px;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
}

.typo-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nome-area{
    font-size: 2vw;
    font-family: 'gothic-bold';
    letter-spacing: 2px;
    color: var(--verde-escuro);
}

.nome-area-menor{
    font-size: 1.8vw;
}
.descricao-area{
    font-family: 'gothic-normal';
    text-align: center;
    width: 90%;
}

.conteiner-atendimento{
    display: flex;
    width: auto;
    background-color: var(--amarelo-claro);
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 40px 65px;
}

.conteiner-foto-info{
    display: flex;
    flex-direction: column;
    background-color: var(--verde-claro);
    gap: 5px;
}

.conteiner-info{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    gap: 3px;
    color: var(--verde-escuro);
}
.conteiner-info h1{
    font-size: 20px;
    font-family: 'gothic-bold';
}
.conteiner-info p{
    font-size: 14px;
    font-family: 'gothic-normal';
}

.passos-atendimento{
    display: flex;
    flex-direction: column;
    font-family: 'gothic-bold';
    gap: 20px;
    align-items: center;
    height: fit-content;
}
.passos-atendimento h3{
    font-family: 'gothic-bold';
    font-size: 23px;
    letter-spacing: 2.5px;
    color: var(--verde-escuro);
}

.step-line{
    display: flex;
    align-items: center;
}

.conteiner-n{
    display: flex;
    background-color: var(--verde-claro);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 70px;
    height: 70px;
}
.conteiner-n p{
    font-size: 30px;
    font-family: 'gothic-bold';
    color: var(--verde-escuro);
}

.step-line hr{
    height: 2px;
    width: 60px;
    background-color: black;
}

.step{
    display: flex;
    background-color: var(--verde-claro);
    height: 70px;
    width: 500px;
    font-size: 20px;
    align-items: center;
    padding: 10px 30px;
    border-radius: 50px;
    letter-spacing: 2px;
    color: var();
}


.btn{
    display: inline-block;
    position: absolute; /* para que eu possa dizer onde o elemento irá ficar independente dos outros */
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
}

.btn img{
    width: 50px;
    height: auto;
}
.next {
    right: 0px;
}

.prev {
    left: 0px;
}
.prev img{
    transform: scaleX(-1);
}
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--verde-escuro);
    height: auto;
    color: var(--amarelo-claro);
    padding: 4vw 5vw;
    gap: 2.5vw;
}

.logo-contato{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5vw;
}
.A-logo {
    display: flex;
    background-color: var(--amarelo-claro);
    width: auto;
    height: fit-content;
    padding: 2vw;
}

.A-logo img {
    width: 8vw;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 34%;
    height: fit-content;
    gap: 1vw;
}
.contato p{
    font-size: 1.8vw;
    width: 100%;
    text-align: center;
    font-family: 'gothic-normal';
    letter-spacing: 1px;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 1vw;
}
.social-media-icons img {
    width: 2vw;
    height: 2vw;
}
footer hr{
    height: 0.1vw;
    width: 100%;
    background-color: white;
}

.informacoes-advogada{
    display: flex;
    align-items: baseline;
    gap: 2vw;
    padding: 0 5vw;
}

.capitalist{
    font-family: 'capitalist', sans-serif;
    font-size: 1.3vw;
}

#n-oab {
    font-size: 1.5vw;
}
@media (max-width: 768px) {
    .header{
        justify-content: center;
    }

    #logoHeader{
        width: 70vw;
        height: auto;
    }
    header button {
        display: none;
        width: 120px;
    }
    .btn-hover {
        font-size: 16px;
        border-radius: 10px;
        padding: 2vw;
    }
    .subheader{
        padding: 3vw;
    }

    .subheader .welcome-message{
        font-size: 3.3vw;
        text-align: center;
    }

    .subheader ul{
        gap: 1vw;
    }

    .subheader ul li{
        font-size: 3.3vw;
    }
 
    .conteiner-deusa{
        background-size: cover;
        align-items: center;
    }

    .conteiner-frase-botao{
        padding: 20vw;
        gap: 4vw;
    }
    .frase-efeito{
        font-size: 3vw;
        max-width: 40vw;
    }
 
    .areas{
        flex-direction: column;
        align-items: center;
        gap: 10vw;
    }

    
    .typo-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nome-area{
        font-size: 5vw;
        
    }

    .conteiner-atendimento{
        flex-direction: column;
    }

    .conteiner-info p{
        font-size: 2.5vw;
    }
    .passos-atendimento{
        gap: 3vw;
    }
    .passos-atendimento h3{
        font-size: 3.5vw;
    }

    .conteiner-n{
        width: 10vw;
        height: 10vw;
    }
    .conteiner-n p{
        font-size: 5vw;
    }
    .step-line hr{
        width: 5vw;
        height: 1px;
    }
    .step{
        width: 75vw;
        height: 10vw;
        font-size: 3.3vw;
        padding: 3vw 6vw;
        letter-spacing: 0.25vw;
        line-height: 125%;
    }
    .btn{
        display: none;
    }
    .A-logo img {
        width: 15vw;
    }

    .contato{
        gap: 2.5vw;
        max-width: 60%;
    }
    .contato p{
        font-size: 3vw;
    }

    .social-media-icons{
        gap: 2.5vw;
    }
    .social-media-icons img{
        height: 7vw;
        width: 7vw;
    }
    .capitalist{
        font-size: 2vw;
    }
    #n-oab{
        font-size: 2vw;
    }
}